<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Catálogo de Productos</h1>
        {% if session['id_cliente'] %}
  <span>Bienvenido, {{ session['id_cliente'] }}</span>
{% endif %}
    </header>
    <main>
        <div class="catalogo">
            {% for producto in productos %}
            <div class="producto">
                <img src="/static/img/{{ producto['imagen'] }}" alt="{{ producto['nombre_producto'] }}">

                
                <h3>{{ producto.nombre_producto }}</h3>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <p>Categoría: {{ producto.categoria }}</p>
                <form action="/agregar_carrito" method="POST">
                    <input type="hidden" name="id_producto" value="{{ producto.id_producto }}">
                    <button type="submit">Agregar al carrito</button>
                </form>
                {% if session.get('usuario_registrado') %}
                    <!-- Mostrar botón de agregar al carrito si el usuario está registrado -->
                    <form action="/agregar_carrito" method="POST">
                        <input type="hidden" name="id_producto" value="{{ producto.id_producto }}">
                        <input type="number" name="cantidad" value="1" min="1" required>
                        <button type="submit">Agregar al carrito</button>
                    </form>
                {% else %}
                    <!-- Mostrar botón de registrarse si el usuario no está registrado -->
                    <p class="error">Debes registrarte para agregar productos al carrito.</p>
                    <a href="{{ url_for('registro') }}" class="btn-registrarse">Registrarse</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
