<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Creations Anys</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    <header>
        <h1>¡Bienvenido a Creations Anys!</h1>
        {% if session['nombre_usuario'] %}
        <p>Hola, {{ session['nombre_usuario'] }}!</p>
    {% else %}
        <p><a href="{{ url_for('registro') }}">Regístrate</a></p>
    {% endif %}
    </header>
    <main>
        <a href="/registro">Registrarse</a>
        <a href="/catalogo">Ver Catálogo</a>
    </main>
</body>
</html>