<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion para el pedido</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Información para el pedido</h1>
    <ul>
        {% for item in carrito %}
            <li>Producto ID: {{ item.id_producto }} | Cantidad: {{ item.cantidad }}</li>
        {% endfor %}
    </ul>
    <form method="POST">
        <label for="fecha_entrega">Fecha de Entrega:</label>
        <input type="date" id="fecha_entrega" name="fecha_entrega" required>
        
        <label for="color">Color de las Rosas:</label>
        <select id="color" name="color">
            <option value="rojo">Rojo</option>
            <option value="blanco">Blanco</option>
            <option value="amarillo">Amarillo</option>
            <option value="verde">Verde</option>
            <option value="lila">Lila</option>
        </select>
        
        <button type="submit">Confirmar Pedido</button>
    </form>
</body>
</html>
